@model LibraryKeyApp.Models.Aluno

@{
    ViewData["Title"] = "Usuário";
}

<h1>Editar</h1>

<hr />
<div class="row">
    <div class="col-md-4 formulario">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Matricula" class="control-label">Matrícula ou SIAPE</label>
                <br />
                <label asp-for="Matricula" class="control-label lbMatricula" >@Model.Matricula</label>
                <input asp-for="Matricula" type="hidden" class="form-control" />
                <span asp-validation-for="Matricula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label">Nome completo<span style="color:red"> *</span></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group ">
                <label asp-for="Turno" class="control-label">Turno<span style="color:red"> *</span></label>
                <select asp-for="Turno" asp-items="@ViewBag.Turno" class="btn btn-light" style="width:100%;">Selecione seu turno</select>
                <span asp-validation-for="Turno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email<span style="color:red"> *</span></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Senha" class="control-label">Senha<span style="color:red"> *</span></label>
                <input asp-for="Senha" type="password" class="form-control" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmarSenha" class="control-label">Confirmar Senha<span style="color:red"> *</span></label>
                <input asp-for="ConfirmarSenha" type="password" class="form-control" />
                <span asp-validation-for="ConfirmarSenha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefone" class="control-label"></label>
                <input asp-for="Telefone" class="form-control" />
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <a class="btn btn-light" href="~/Aluno/Index">Voltar</a>
            </div>
        </form>
    </div>
</div>

<div>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
