@{
    ViewData["Title"] = "Desenvolvedores";
}
<h1>@ViewData["Title"]</h1>

<p1>Este sistema foi desenvolvido pela equipe VitaSoft, uma equipe composta pelos estudantes, Igor Martins Galdino, 
    Leonardo Freitas da Silva e Rômulo Henrique Silva Cavalcante, todos estudantes do curso de Bacharelado em Ciência da Computação do 
    Instituto Federal de Educação, Ciência e Tecnologia do Ceará campus Aracati, com o apoio do professor Renato Alexandre.</p1>
<p/>
<body>
    <div>
        <h2>VitasSoft</h2>
        <div>
            <h5>Igor Galdino</h5>
            <label>Email: igormgaldino@gmail.com - </label>
            <label><a href="http://lattes.cnpq.br/2355377773820366">Lattes</a></label>
        </div>
        <div>
            <h5>Leonardo Freitas</h5>
            <label>Email: leonardo.lfs18@gmail.com - </label>
            <label><a href="http://lattes.cnpq.br/1986861584677396">Lattes</a></label>
        </div>
        <div>
            <h5>Rômulo Henrique</h5>
            <label>Email: romulohsc7@gmail.com - </label>
            <label><a href="http://lattes.cnpq.br/1646089175241022">Lattes</a></label>
        </div>
    </div>
</body>
