@{
    ViewData["Title"] = "Início";
}

<div class="text-center">
    <h1 class="display-3">Bem-vindo ao LibraryKey</h1>
    <p class="display-4">Quem você é?</p>
    <a class="btn btn-primary" href="~/Emprestimo/Create">Usuário</a>
    <a class="btn btn-secondary" href="~/Administrador/Login">Administrador</a>
</div>
