@model LibraryKeyApp.Models.Administrador

@{
    ViewData["Title"] = "Administrador";
}

<h1>Editar</h1>

<hr />
<div class="row">
    <div class="col-md-4 formulario">
        <label class="label"><span style="color:red">*</span> Campos obrigatórios</label>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Login" class="control-label">Login<span style="color:red"> *</span></label>
                <input asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email<span style="color:red"> *</span></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Senha" class="control-label">Senha<span style="color:red"> *</span></label>
                <input asp-for="Senha" type="password" class="form-control" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmarSenha" class="control-label">Confirmar Senha<span style="color:red"> *</span></label>
                <input asp-for="ConfirmarSenha" type="password" class="form-control" />
                <span asp-validation-for="ConfirmarSenha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Editar" class="btn btn-primary" />
                <a class="btn btn-light" href="~/Administrador/List">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
